__mocks__
__tests__
.github
.husky
.vscode
coverage
docs
scripts
src
.eslintignore
.eslintrc.json
.gitignore
.prettierrc.json
git-hook-tasks.config.json
jest.config.js
tsconfig.test.json
yarn-error.log